<form class="credit-card" [formGroup]="cardInfo" (ngSubmit)="callingFunction()">
    <div class="form-header">
        <h4 class="title">Credit card detail</h4>
    </div>

    <div class="form-body">
        <!-- Card Number -->
        <input type="text" class="card-number" placeholder="Card Number" formControlName="cardNumber">

        <input type="text" class="card-number" placeholder="Card Holder" formControlName="cardHolder">
        <!-- Date Field -->
        <div class="date-field">
            <div class="month">
                <select name="Month" formControlName="expirationMonth">
                    <option *ngFor="let month of months" [value]="month" >{{month}}</option>
                </select>
            </div>
            <div class="year">
                <select name="Year" formControlName="expirationYear">
                    <option *ngFor="let year of years" [value]="year">{{year}}</option>
            </select>
            </div>
        </div>

        <!-- Card Verification Field -->
        <div class="card-verification">
            <div class="cvv-input">
                <input type="text" placeholder="CVV" formControlName="ccv">
            </div>
            <div class="cvv-details">
                <p>3 or 4 digits usually found <br> on the signature strip</p>
            </div>
        </div>

        <!-- Buttons -->

        <button mat-button mat-dialog-close type="submit" class="proceed-btn">Proceed</button>




    </div>
</form>