<div class="main-grid-container">
    <div class="grid-container">
        <div class="item1"></div>
        <form class="responsive">
            <mat-horizontal-stepper linear #stepper>
                <mat-step [stepControl]="goalForm">
                    <form [formGroup]="goalForm" class="form-align">
                        <ng-template matStepLabel>What's your goal?</ng-template>
                        <h1>What's your goal?</h1>
                        <mat-form-field appearance="outline">
                            <mat-label>Goal</mat-label>
                            <input matInput placeholder="Goal" formControlName="goalCtrl" required />
                        </mat-form-field>
                        <div>
                            <button mat-raised-button color="primary" style="width: 40%;height:45px;" mat-button matStepperNext>Do It</button>
                        </div>
                    </form>
                </mat-step>
                <mat-step [stepControl]="dateForm" [optional]="isOptional">
                    <form [formGroup]="dateForm" class="form-align">
                        <ng-template matStepLabel>Date</ng-template>
                        <h1>When</h1>
                        <mat-form-field appearance="outline">
                            <mat-label>Choose a date</mat-label>
                            <input matInput [min]="minDate" [matDatepicker]="picker" formControlName="dateCtrl" (dateChange)="calculateRemainDate()" required />

                            <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
                            <mat-datepicker #picker2 color="primary" #picker></mat-datepicker>

                        </mat-form-field>
                        <div class="alert-box success daysFromNow">That's {{remainDay}} days from now</div>
                        <div style="padding-top: 15px;">
                            <button mat-raised-button color="primary" style="margin-right: 20px;" matStepperPrevious>Back</button>
                            <button mat-raised-button color="primary" matStepperNext>Next</button>
                        </div>
                    </form>
                </mat-step>
                <mat-step [stepControl]="priceForm" [optional]="isOptional">
                    <form [formGroup]="priceForm" class="form-align">
                        <h1>You Pay If You Fail</h1>
                        <ng-template matStepLabel>Price</ng-template>
                        <mat-form-field appearance="outline">
                            <mat-label>Price</mat-label>
                            <mat-select formControlName="priceCtrl" required>
                                <mat-option *ngFor="let price of prices" [value]="price">
                                    {{ price }}
                                </mat-option>
                            </mat-select>
                        </mat-form-field>
                        <div>
                            <button mat-raised-button color="primary" style="margin-right: 20px;" matStepperPrevious>Back</button>
                            <button mat-raised-button color="primary" matStepperNext>Next</button>
                        </div>
                    </form>
                </mat-step>
                <mat-step [stepControl]="supervisorEmailForm" [optional]="isOptional">

                    <form [formGroup]="supervisorEmailForm" class="form-align">
                        <ng-template matStepLabel>Supervisor's Mail</ng-template>
                        <h1>Who Checks If You Did It</h1>
                        <mat-form-field appearance="outline">
                            <mat-label>Supervisor's Email</mat-label>
                            <input matInput formControlName="supervisorEmailCtrl " [errorStateMatcher]="matcher" placeholder="Ex. pat@example.com " formControlName="supervisorEmailCtrl" />

                            <mat-error *ngIf="
                            supervisorEmailForm.controls.supervisorEmailCtrl.hasError('email')">
                                Please enter a valid email address
                            </mat-error>
                            <mat-error *ngIf="supervisorEmailForm.controls.supervisorEmailCtrl.hasError('required')">
                                Email is <strong>required</strong>
                            </mat-error>

                        </mat-form-field>
                        <div>
                            <button mat-raised-button color="primary" style="margin-right: 20px;" color="primary" matStepperPrevious>Back</button>
                            <button mat-raised-button color="primary" color="primary" matStepperNext>  Next </button>
                        </div>
                    </form>
                </mat-step>
                <mat-step [stepControl]="userEmailForm" [optional]="isOptional">
                    <form [formGroup]="userEmailForm" class="form-align">
                        <ng-template matStepLabel>Your Mail</ng-template>
                        <h1>Who Are You</h1>

                        <mat-form-field appearance="outline">
                            <mat-label>Your Email</mat-label>
                            <input matInput formControlName="userEmailCtrl" [errorStateMatcher]="matcher" placeholder="Ex. pat@example.com " />

                            <mat-error *ngIf="
                            userEmailForm.controls.userEmailCtrl.hasError('email')">
                                Please enter a valid email address
                            </mat-error>
                            <mat-error *ngIf="userEmailForm.controls.userEmailCtrl.hasError('required')">
                                Email is <strong>required</strong>

                            </mat-error>
                            <mat-error *ngIf="userEmailForm.controls.userEmailCtrl.hasError('fieldMatch')">
                                Your email can't be same as supervisor.
                            </mat-error>
                        </mat-form-field>

                        <div>
                            <button mat-raised-button style="margin-right: 20px;" color="primary" matStepperPrevious>Back</button>
                            <button mat-raised-button color="primary" matStepperNext> Next </button>
                        </div>

                    </form>
                </mat-step>

                <mat-step [stepControl]="creditCardForm" [optional]="isOptional">
                    <form [formGroup]="creditCardForm" class="form-align">
                        <ng-template matStepLabel>Credit Card </ng-template>
                        <h1>You Pay If You Fail</h1>
                        <mat-form-field appearance="outline">
                            <input matInput placeholder="Card Number" formControlName="cardNumber" maxlength="16">

                            <mat-error *ngIf="errorHandling('cardNumber', 'required')">
                                You must provide a<strong> card number</strong>
                            </mat-error>
                            <mat-error *ngIf="errorHandling('cardNumber', 'maxlength')">
                                Card number must be at max 16 characters long.
                            </mat-error>
                            <mat-error *ngIf="errorHandling('cardNumber', 'minlength')">
                                Card number must be at least 16 characters long.
                            </mat-error>
                            <mat-error *ngIf="errorHandling('cardNumber', 'pattern')">
                                It can be only number.
                            </mat-error>
                        </mat-form-field>
                        <br>
                        <mat-form-field appearance="outline" style="width: 27%;">
                            <mat-label>Month</mat-label>
                            <mat-select formControlName="expirationMonth">
                                <mat-option [value]="month" *ngFor="let month of months">{{month}}
                                </mat-option>
                            </mat-select>
                        </mat-form-field>

                        <mat-form-field appearance="outline" style="margin-left:30px; width: 27%;">
                            <mat-label>Year</mat-label>
                            <mat-select formControlName="expirationYear">
                                <mat-option [value]="year" *ngFor="let year of years">{{year}}
                                </mat-option>
                            </mat-select>
                        </mat-form-field>
                        <br>
                        <mat-form-field appearance="outline" style="width: 60%;">
                            <input matInput placeholder="CVC" formControlName="cvc">

                            <mat-error *ngIf="errorHandling('cvc', 'required')">
                                You must provide a<strong> CVC</strong>
                            </mat-error>
                            <mat-error *ngIf="errorHandling('cvc', 'minlength')">
                                CVC must be 3 characters long.
                            </mat-error>
                            <mat-error *ngIf="errorHandling('cvc', 'pattern')">
                                It can be only number.
                            </mat-error>
                        </mat-form-field>

                        <div>
                            <button mat-raised-button style="margin-right: 20px;" color="primary" matStepperPrevious>Back</button>
                            <button mat-raised-button color="primary" matStepperNext> Next </button>
                        </div>

                    </form>
                </mat-step>

                <mat-step>
                    <!-- <p class="header">Do You Agree To</p> -->
                    <p class="subtitle">Launch A Start Up</p>
                    <h2> by {{dateForm.get('dateCtrl').value}}</h2>
                    <p>On your deadline, we'll send <b>{{supervisorEmailForm.get('supervisorEmailCtrl').value}}</b> an email and ask if you have actually reached your goal.
                        <br><br> If they state you have reached your goal, nothing happens. If they state you haven't, we'll charge your card once with {{priceForm.get('priceCtrl').value}} TL.
                    </p>
                    <div style="text-align: center; margin-top: 20px;">
                        <button mat-raised-button style="margin-right: 20px;" color="primary" matStepperPrevious>Back</button>
                        <button mat-raised-button color="primary" matStepperNext (click)="done()"> Agree To Do It </button>
                    </div>
                </mat-step>
            </mat-horizontal-stepper>
        </form>
    </div>
</div>