body {
    background-color: #D8C6D6;
}

.grid-container {
    display: grid;
    grid-template-columns: auto auto auto auto;
    grid-gap: 10px;
    padding: 10px;
    width: 70%;
    height: 550px;
    padding: 20px;
    margin: 100px auto;
    box-shadow: 0px 0px 10px 2px grey;
    border-radius: 20px;
    background-color: white;
    overflow: hidden;
}

.item1 {
    background-image: url('../../assets/images/side.gif');
    background-size: 500px 580px;
    border: 1px solid white;
    justify-items: center;
    border-radius: 15px;
    text-align: center;
    width: 380px;
    height: auto;
    background-position: center;
    background-repeat: no-repeat;
}

:host ::ng-deep .mat-horizontal-stepper-header-container {
    display: none;
}

:host {
    width: 200px;
    height: 200px;
}

::ng-deep .item {
    width: 350px;
}

h1 {
    margin-top: 150px;
    font-size: 48px;
    font-family: Times New Roman, Times, serif;
}