.grid-container {
    max-height: 550px;
    display: flex;
    width: 65%;
    height: calc(100vh - 240px);
    margin: 100px auto;
    box-shadow: 0px 0px 10px 2px grey;
    border-radius: 20px;
    background-color: white;
    overflow: hidden;
}

.main-grid-container {
    height: calc(100vh);
    overflow: hidden;
    display: flex;
    justify-content: center;
    align-items: center;
}

@media only screen and (min-width:700px) {
    .item1 {
        background-image: url('../../assets/images/lb6drrbl.jpg');
        background-size: 100% 100%;
        background-position: center;
        background-repeat: no-repeat;
        text-align: center;
        max-width: 100%;
        height: auto;
        width: 60%;
    }
}

h1 {
    font-size: 48px;
    line-height: 0.9;
    font-family: Times New Roman, Times, serif;
}

h2 {
    text-align: center;
    margin-top: 10px;
    font-family: Arial, Helvetica, sans-serif;
}

form.responsive {
    display: flex;
    justify-content: center;
    align-items: center;
    box-sizing: border-box;
    padding: 10px;
    width: 100%;
}

p.header {
    line-height: 0.9;
    text-align: center;
    margin-top: 70px;
    font-size: 48px;
    font-family: Arial, Helvetica, sans-serif;
}

p.subtitle {
    line-height: 0.9;
    text-align: center;
    font-size: 36px;
    font-family: Arial, Helvetica, sans-serif;
}

p {
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;
}

div.responsive {
    justify-content: center;
    align-items: center;
    box-sizing: border-box;
    padding: 10px;
    width: 100%;
}

.form-align {
    text-align: center;
}

.mat-form-field {
    width: 60%;
}

:host ::ng-deep .mat-horizontal-stepper-header-container {
    display: none;
}

:host {
    width: 200px;
    height: 200px;
}

::ng-deep .item {
    width: 350px;
}

::ng-deep .snackbarTextColor {
    /* color: purple; */
}