div.main {
    display: flex;
    justify-content: center;
    align-items: center;
    vertical-align: middle;
    height: calc(100vh / 2);
    max-height: calc(100vh / 2);
    flex-flow: wrap;
}

[hidden] {
    display: none !important;
}

div.button {
    display: flex;
    justify-content: center;
    align-items: center;
    vertical-align: middle;
    height: calc(100vh / 2);
    max-height: calc(100vh / 10);
}

h1 {
    text-align: center;
    font-size: 60px;
    line-height: 1.2;
    font-family: Arial, Helvetica, sans-serif;
}

h2 {
    justify-content: center;
    align-items: center;
    vertical-align: middle;
    text-align: center;
}

button {
    width: 15%;
    height: 80%;
}

.icon {
    margin-bottom: 2px;
}